h1 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 20px;
  line-height: 0.8;
}
a {
  font-size: 15px;
  font-weight: 600;
}

header {
  background-color: #222f3f;
}

.logo {
  width: 80px;
  padding: 6px 0 6px 10px;
}
.navbar {
  background-color: #364759;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar p {
  display: inline-block;
  margin-right: 15px;
  color: #e9edee;
}
body {
  background-color: #e9edee;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#par {
  background-color: #f76500;
  color: aliceblue;
  text-align: center;
  padding: 6px 0 6px 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.first {
  background-image: url(../images/bg-image.png);
  color: white;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

#second a {
  text-decoration: none;
  color: rgb(27, 139, 204);
  padding-left: 20px;
}
#second h3 {
  text-align: left;
}
#second {
  background-color: white;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
#second img {
  display: inline-block;
  width: 23%;
  vertical-align: top;
  height: 30em;
  margin-right: 20px;
  border-radius: 8%;
  margin-top: 20px;
  padding-bottom: 20px;
}
#second img:last-child {
  margin-right: 0px;
}
.img img {
  max-width: 100%;
  margin-top: 30px;
}
main h3:last-of-type {
  text-align: center;
}
main a:last-of-type {
  text-decoration: none;
  color: rgb(83, 83, 253);
}
footer {
  margin-top: 20px;
  text-align: center;
  background-color: #2a3a4e;
}
footer a {
  color: white;
}
footer p {
  padding-top: 15px;
  padding-bottom: 15px;
}
.second-logo {
  background-color: #1c2531;
}
.second-logo img {
  width: 200px;
  padding-top: 40px;
  padding-bottom: 30px;
}
